/* 
    Created on : Jun 7, 2021, 4:10:09 PM
    Author     : nhatbeo
*/
*{
    font-family: arial;
}
.container{
    width: 886px;
    height: auto;
    /*cho giao dien vao giua*/
    margin: auto; 
}
.pre_header{
    background-image: url(../images/preheader.jpg);
    width: 886px;
    height: 71px;
}
.header{
    background-image: url(../images/header.jpg);
    width: 886px;
    height: 78px;
}
.header h1{
    margin: 0px;
    color: white;
    font-size: 21px;
    margin-left: 75px;
    font-family: arial;
}
.menu{
    background-image: url(../images/menu.jpg);
    width: 886px;
    height: 32px;
}
.menu a{
    font-family: arial;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 83px;
    line-height: 32px; /*cho chieu cao cua the <menu> bang the <a>*/
}
.left{
    width: 528px;
    padding-left: 72px;
    height: auto;
    padding-right: 20px;
}
.image img{
    width: 400px;
}
.title{
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    color: #42554e;
    font-family: arial;
}
.description{
    border-bottom: 1px solid lightgrey;
    padding-bottom: 15px;
}
.right{
    width: 266px;
    height: auto;
    padding-right: 80px;
    border-left: 2px dashed lightgrey;
    padding-left: 15px;
}
.short_description{
    font-size: 14px;
}
.main{
    background-image: url(../images/bg.jpg);
    width: 886px;
    height: auto;
    display: flex;
}
.footer{
    background-image: url(../images/footer.jpg);
    width: 886px;
    height: 78px;
}
.author{
    float: right;
    color: #42554e;
}
form input{
    width: 60%;
    border: 1px dashed #42554e;
}
form button{
    border: none;
    background-color: white;
    font-weight: bold;
}
.right a{
    color: #42554e;
    display: inline-block;
    margin-top: 20px;;
}
#article{
    margin-top: 27px;
}
.per_article img{
    width: 40%;
    float: left;
}
.per_article{
    clear: both;
}
.paging{
    padding-top: 20px;
}
.paging a{
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}
.paging a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}
.footer{
    background-image: url('../images/footer.jpg');
}
